<h1>
  <%= @article.title %>

  <%= link_to edit_path do %>
  <i class="far fa-edit"></i>
  <% end %>
  <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
  <i class="far fa-trash-alt"></i>
  <% end %>
</h1>
<p><%= @article.content %></p>
